+++
title = "Agilebase documentation"
linkTitle = "Agilebase documentation"

+++

{{< blocks/cover title="Agilebase documentation" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/introduction" >}}">
		Main Website <i class="far fa-link ml-2 "></i>
	</a>
	<p class="lead mt-5">Agilebase is a no-code platform for CRM systems and other back office applications</p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Agilebase works across the three phases of an organization's development; startup, scaleup and growth.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-lightbulb" title="Why no code?" %}}
> “The burgeoning low-code/no-code market is exploding with innovation, driving unprecedented value for customers while confusing industry analysts.”

Jason Bloomberg, Forbes
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-blocks" title="What can be built?" url="https://agilechilli.com/casestudy/cipa" %}}
We’ve customers across a wide range of industries, of very different sizes. However, all of them have built a “back office” that exactly fits their business.

Agilebase is also proven as a base to build multi-tenanted products, that is single piece of software which many different customers access, where each customer's data is separated from the others.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/agilebase" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
