<!-- at the end of the BODY -->
<!-- https://www.docsy.dev/docs/adding-content/navigation/#configure-algolia-docsearch -->
<!-- https://www.algolia.com/account/api-keys/all?applicationId=TNMB2MUWKL -->
<script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
<script type="text/javascript">docsearch({
  container: '#docsearch',
  appId: 'BH4D9OD16A', 
  apiKey: 'a2543926000f354dde0d74441469900f', 
  indexName: 'docsearch',
  });</script>

  <!-- TNMB2MUWKL -->
  <!-- 7dfdea7c54eaabf73c6e87b6ac6d42bd -->

<!-- Helix AI chat -->
<script src="https://cdn.jsdelivr.net/npm/@helixml/chat-embed@0.3.2" integrity="sha384-8/N8VED70naygSrRj1BYT5JlMwVLit5cPnT3HkKsLJ74L9fm+oNDVM9HFIOz5f8a" crossorigin="anonymous" ></script>
<script> ChatWidget({ url: "https://searchbot.tryhelix.ai/v1/chat/completions", model: "01914656-b1df-734d-8475-50a62b36984d" }) </script>

