<!-- at the end of the HEAD -->
<!-- https://www.docsy.dev/docs/adding-content/navigation/#configure-algolia-docsearch -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
<!-- Our custom CSS to make homepage text legible against the background image -->
<style>
    .lead.mt-5, .td-navbar .navbar-nav {
        text-shadow: 0px 0px 1px black, 0px 0px 2px black;
        backdrop-filter: blur(5px) brightness(0.6);
        border-radius: 1em;
    }
    .navbar-brand__logo.navbar-logo {
        display: inline-block;
        width: 3.5em;
    }
</style>

