<!-- at the end of the HEAD -->
<!-- https://www.docsy.dev/docs/adding-content/navigation/#configure-algolia-docsearch -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3" />
<!-- Our custom CSS to make homepage text legible against the background image -->
<style>
    .td-navbar .navbar-nav {
        text-shadow: 0px 0px 1px black, 0px 0px 2px black;
        backdrop-filter: blur(5px) brightness(0.6);
        border-radius: 1em;
    }
    .lead.mt-5, .display-1 {
        backdrop-filter: blur(5px);
        border-radius: 1em;
        background-color: rgba(255,255,255,0.5);
    }
    .navbar-brand__logo.navbar-logo {
        display: inline-block;
        width: 3.5em;
    }
</style>
<!-- Helix AI chat -->
<script src="https://cdn.jsdelivr.net/npm/@helixml/chat-embed@0.3.2" integrity="sha384-8/N8VED70naygSrRj1BYT5JlMwVLit5cPnT3HkKsLJ74L9fm+oNDVM9HFIOz5f8a" crossorigin="anonymous" ></script>
<script> ChatWidget({ url: "https://searchbot.tryhelix.ai/v1/chat/completions", model: "01914656-b1df-734d-8475-50a62b36984d" }) </script>

